.tituloRegistro{
    color: #68d8cc;
    font-size: 3rem;
    margin-bottom: 10px;
}

.recuadrop {
    display: flex;
    align-items: center;
    border: 2px solid beige;
    padding: 10px;
    height: 5rem;
    width: 23rem;
    margin-top: 1rem;
    margin-left: 35rem;
  }
  
  .recuadrop p {
    margin: 1rem;
    color: #68d8cc;
  }

.ContenedorRegistros{
    height: 51rem;
    width: 36rem;
    background-color: #eee1e1;
    padding: 1px;
    margin-left: 29rem;
    margin-top: 1rem;
    border-radius: 1%;
    list-style: none;
}

.botonLogIn{
    background-color: #f9f9f9;
    height: 4rem;
    width: 34rem;
    margin-left: 1rem;
    font-weight: bold;
    border-radius: 1%;
}

.boton{
    text-decoration: underline;
    color: black;
}

.hrprimero {
    height: 0.2rem;
    overflow: visible;
    width: 85rem;
    margin-left: 5rem;
    background-color: #15cdca;
    margin-top: 2rem;
    margin-bottom: 3rem;
}