.userMenu {
    position: absolute;
    top: 20px;
    right: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: aliceblue;
}

.usernameLink{
    color: antiquewhite;
    margin: 1rem;
    font-size: 1.2rem;
}

.usernameBoton{
    margin-top: 1rem;
}